.table td, .table th {
    font-size: 14px;
    padding: 0 5px;
}

.table tr, .table tr td {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.tree-salary {
    ms-flex: 0 0 calc(100% - 204px);
    flex: 0 0 calc(100% - 204px);
    max-width: calc(100% - 204px);
}

.separator {
    background-color: rgb(240, 240, 240); 
    ms-flex: 0 0 4px;
    flex: 0 0 4px;
    max-width: 4px;
}

.table-days {
    background-color: white;
    ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
}

.show-hide-icon {
    cursor: pointer;
    color: rgb(128, 128, 128);
    text-align: center;
    vertical-align: middle !important;
}

.no-cell {
    background-color: white;
    border-top: none !important;
    border-bottom: none !important;
}

.project-icon {
    background: url(../img/project-16.png) no-repeat center center;
    background-color: white;
    border-right: 1px solid rgb(219, 177, 100);
}

.project-row {
    background-color: rgb(255, 217, 143);
    font-weight: bold;
}

    .project-row:active, .project-row:current, .project-row:hover {
        background-color: rgb(219, 177, 100);
        font-weight: bold;
    }

.project-cell {
    border-top: 1px solid rgb(121, 124, 145) !important;
    border-right: 1px solid rgb(219, 177, 100);
}

.object-icon {
    background: url(../img/object-16.png) no-repeat center center;
    background-color: white;
    border-right: 1px solid rgb(170, 221, 200);
}

.object-row {
    background-color: rgb(230, 245, 255);
    text-decoration: underline;
}

.object-cell {
    border-top: 1px solid rgb(150, 153, 169) !important;
    border-right: 1px solid rgb(170, 221, 200);
}

.pay-icon {
    background: url(../img/pay-16.png) no-repeat center center;
    border-right: 1px solid rgb(200, 200, 200);
}

.pay-row {
}

.pay-cell {
    border-right: 1px solid rgb(240, 240, 240);
}

.summary-icon {
    background: url(../img/summary-16.png) no-repeat center center;
    background-color: white;
    border-right: 1px solid rgb(200, 200, 200);
}

.summary-row {
    background-color: rgb(218, 218, 218);
    font-weight: bold;
}

.summary-cell {
    border-top: 1px solid rgb(150, 153, 169) !important;
    border-right: 1px solid rgb(200, 200, 200);
}

.weekend-cell {
    background-color: rgb(255, 100, 100);
    border-top: 1px solid rgb(150, 153, 169) !important;
    border-left: 1px solid rgb(200, 200, 200);
}
.workday-cell {
    border-top: 1px solid rgb(200, 200, 200) !important;
    border-left: 1px solid rgb(240, 240, 240);
}

.readonly {
    cursor: default
}
