@{
    ViewData["Title"] = "Нет доступа";
}
<header>
    <h1 class="display-4 text-danger">@ViewData["Title"]</h1>
    <div class="h4 alert alert-danger">
        У вас нет доступа к этому ресурсу.
    </div>
</header>
