@using Furmanov.Data.Data
@model MainViewModelWithWorkedDays

@{
    ViewData["Title"] = "Главная";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/main-view.css" />
}

<div class="row" style="margin: auto">
    <div class="tree-salary">
        @await Html.PartialAsync("_SalaryPays")
    </div>
    <div class="separator"></div>
    <div id="table-days" class="table-days">
        @await Html.PartialAsync("_WorkedDays", Model.WorkedDays)
    </div>
</div>

@section Scripts  {
    <script src="~/js/main-view.js"></script>
}
