@using Furmanov.Services
@model Furmanov.MVP.MainView.MainViewModel

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.User.Login | @Model.User.Role_Id.DisplayName()</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
