@using Furmanov.Data.Data
@model Furmanov.MVP.MainView.MainViewModel

@{
    ViewData["Title"] = "Главная";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/main-view.css" />
}

<div class="row" style="margin: auto">
    <div id="tree-salary-div" class="tree-salary">
        @await Html.PartialAsync("_SalaryPays")
    </div>
    <div class="separator"></div>
    <div id="table-days-div" class="table-days">
        @await Html.PartialAsync("_WorkedDays", new WorkedDay[0])
    </div>
</div>

@section Scripts  {
    <script src="~/js/main-view.js"></script>
}
